.app__heading{
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-golden);
    font-family: var(--font-base);
}
@media screen and (max-width: 960px) {
    .app__heading{
        font-size: 4rem;
        line-height: 1;
    }
}
@media screen and (max-width: 490px){
    .app__heading{
        font-size: 3rem;
    }
}